<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".CafeApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeApplication"
        tools:targetApi="33">
        <activity
            android:name=".ui.common.reviews.ViewReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.orders.AdminViewOrderActivity"
            android:parentActivityName=".ui.AdminAppActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.orders.OrderDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.AppActivity" />
        <activity
            android:name=".ui.common.order.OrderListView"
            android:exported="false" />
        <activity
            android:name=".ui.admin.editmenu.EditProductActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdminAppActivity" />
        <activity
            android:name=".ui.AdminAppActivity"
            android:exported="false" />
        <activity
            android:name=".ui.common.profile.CreateProfileActivity"
            android:exported="false"
            android:parentActivityName=".ui.AppActivity" />
        <activity
            android:name=".ui.AppActivity"
            android:exported="false"
            android:parentActivityName=".ui.AppActivity" />
        <activity
            android:name=".ui.common.register.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.customer.menu.product.ProductViewActivity"
            android:exported="false"
            android:parentActivityName=".ui.AppActivity" />
        <activity
            android:name=".ui.common.productview.ProductListView"
            android:exported="false" />
        <activity
            android:name=".ui.common.order.CartItemListView"
            android:exported="false" />
        <activity
            android:name=".ui.common.login.LoginActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.CafeApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>